.vScroll {
  position: relative;
  overflow: hidden;

  &.dragging {

    .vScroll__content {
      user-select: none;
    }

    .vScroll__bar {
      transition: none;
    }
  }

  &__content {
    transition: all 0.3s ease;
  }

  &__rail {
    position: absolute;

    &--vertical {
      top: 0;
      right: 0;
      bottom: 0;

      width: 10px;
    }

    &--horizontal {
      left: 0;
      right: 0;
      bottom: 0;

      height: 10px;
    }
  }
  
  &__bar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    &--vertical {
      left: 0;
      top: 0;
      
      width: 100%;
    }

    &--horizontal {
      left: 0;
      bottom: 0;

      height: 100%;
    }
  }
}